section {
    background-color: #4f493f;
    height: 600px;
    padding: 15px 30px;

    h3 {
        font-size: 40px;
        font-weight: 700;
        color: #e5e0d8;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        color: #dad5cf;
    }
}