<footer>
    <section class="info">
        <article class="area1">
            <h3>Cycle</h3>
            <p>400 University Drive Suite 200 Coral </p>
        </article>
        <article class="separation"></article>
        <article class="area2">
            <h4>Links</h4>
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </article>
        <article class="separation"></article>
        <article class="area3">
            <h4>Help</h4>
            <a href="#">Payment Option</a>
            <a href="#">Returns</a>
            <a href="#">Privacy Policies</a>
        </article>
        <article class="separation"></article>
        <article class="area4">
            <h4>Newsletter</h4>
            <div class="newsletter">
                <input type="text" placeholder="Enter Your Email Adress">
                <button>Subscribe</button>
            </div>
        </article>
    </section>
    <section class="separation"></section>
    <section class="copyright">
        <h3>2024 Cycle. All rights reversed.</h3>
    </section>
</footer>