<section>
    <article>
        <i class="fa-solid fa-trophy"></i>
        <div>
            <h4 class="title">High Quality</h4>
            <p class="description">Crafted from top materials</p>
        </div>
    </article>
    <article>
        <i class="bi bi-patch-check"></i>
        <div>
            <h4 class="title">Warranty Protection</h4>
            <p class="description">Over 2 years</p>
        </div>
    </article>
    <article>
        <i class="fa-solid fa-box"></i>
        <div>
            <h4 class="title">Free Shipping</h4>
            <p class="description">Order over 150$</p>
        </div>
    </article>
    <article>
        <i class="fa-solid fa-headset"></i>
        <div>
            <h4 class="title">24 / 7 Support</h4>
            <p class="description">Dedicated support</p>
        </div>
    </article>
</section>