<section class="d-flex flex-wrap align-items-center justify-content-between py-3 px-4">
    <div class="row w-100">
        <article class="col-12 col-sm-6 col-md-3 d-flex align-items-center gap-2 mb-3">
            <i class="fa-solid fa-trophy"></i>
            <div>
                <h4 class="title">Alta Qualidade</h4>
                <p class="description">Construido com os melhores materiais</p>
            </div>
        </article>
        <article class="col-12 col-sm-6 col-md-3 d-flex align-items-center gap-2 mb-3">
            <i class="bi bi-patch-check"></i>
            <div>
                <h4 class="title">Garantia</h4>
                <p class="description">De 2 anos</p>
            </div>
        </article>
        <article class="col-12 col-sm-6 col-md-3 d-flex align-items-center gap-2 mb-3">
            <i class="fa-solid fa-box"></i>
            <div>
                <h4 class="title">Frete Grátis</h4>
                <p class="description">Compras maiores de R$150</p>
            </div>
        </article>
        <article class="col-12 col-sm-6 col-md-3 d-flex align-items-center gap-2 mb-3">
            <i class="fa-solid fa-headset"></i>
            <div>
                <h4 class="title">Suporte 24 / 7</h4>
                <p class="description">Suporte dedicado</p>
            </div>
        </article>
    </div>
</section>
