<main>
    <section class="login-area">
        <h3 class="titulo">Entrar</h3>
        <form>
            <div class="inputs">
                <input class="input" type="email" placeholder="E-mail">
                <input class="input" type="password" placeholder="Senha">
            </div>
            <a href="">Esqueceu sua senha?</a>
            <div class="botoes">
                <input class="botao" type="button" value="Acessar">
                <p>OU</p>
                <input [routerLink]="['/cadastro']" class="botao" type="button" value="Cadastre-se">
            </div>
        </form>
    </section>
</main>
<app-certificates></app-certificates>
<app-footer></app-footer>