<app-criar-conta-screen></app-criar-conta-screen>
<main>
    <section class="form-area">
        <h3 class="titulo">Informações</h3>
        <form>
            <div class="form-item">
                <input placeholder="Nome Completo" class="input nome" name="nome" id="nome" type="text">
                <input placeholder="Telefone" class="input telefone" name="telefone" id="telefone" type="tel">
            </div>
            <div class="form-item">
                <input placeholder="Email" class="input email" name="email" id="email" type="email">
                <input placeholder="Senha" class="input senha" name="senha" id="senha" type="password">
            </div>
            <input class="botao" type="button" value="Cadastrar">
        </form>
    </section>
</main>
<app-certificates></app-certificates>
<app-footer></app-footer>