<section>
    <h3 class="section-title">Mais Polulares</h3>
    <ul>
        <li *ngFor="let produto of produtos">
            <img [src]="produto.image" [alt]="produto.name">
            <div class="info">
                <h3>{{produto.name}}</h3>
                <p class="description">{{produto.description}}</p>
                <p class="price">{{produto.price | currency: "BRL"}}</p>
            </div>
            <div class="hover">
                <button (click)="addToCart(produto)" class="addtocart">Adicionar ao Carrinho</button>
                <div class="add">
                    <a href="#"><i class="fa-solid fa-share-nodes"></i> Share</a>
                    <a href="#"><i class="fa-solid fa-code-compare"></i> Compare</a>
                    <a href="#"><i class="fa-solid fa-heart"></i> Like</a>
                </div>
            </div>
        </li>
    </ul>
    <button>Mostrar Mais</button>
</section>